body {
  color: #666666;
  font-family: sans-serif;
  background:#fafafa;
  margin: 0;
}

#whole_page {
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: left;
}

#header {
  color: #0AA5C5;
  background: url(/images/head_bg.jpg) repeat-x bottom #7372aa;
  font-size: 24pt;
  margin-bottom: 0;
  width: 100%;
  border-bottom: solid 1px #a9a9ff;
}

#footer {
position:fixed;
bottom:-28px;
left:auto;
right:auto;
opacity: .2;
}

#logo {
  padding: 0px;
  float: left;
}

#nav {
  color: #ffffff;
  font-size: 12pt;
  padding: 10px;
  padding-top: 30px;
  float: right;
  vertical-align: middle;
  font-weight:bold;
}
#nav a, #nav a:visited {
  color: #ffffff;
  text-decoration: underline;
   font-weight:normal;
}
#nav b {
  color: gray;
}
#nav a:hover {
  color:#FF99CC;
}
.links {
  float: right;
  padding-left: 2em;
}

#content {
  width: 100%;
  height: 100%;
  padding-bottom: 5em;
  border-bottom: dashed 2px black;
}
#content h1 {
  font-size: 14pt;
  margin: 0;
  padding: 5px 0px 5px 0px;
  width: 100%;
  border-bottom: solid 1px #cccccc;
  color:#000000;
  background:#ececff;
  text-align: center;
  margin-bottom:10px;
}
#content p {
  padding: 10px;  
  text-align: center;
}

html fieldset {
  position: relative;
  width: 30em;
}
html legend {
  position: absolute;
  top: -1em;
  left: .5em;
}
html fieldset {
  position: relative;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Form Styles */
fieldset {
  background-color: #ffffff;
  -moz-border-radius: 9px;
  -webkit-border-radius: 11px;
  border: 1px #cccccc solid;
  margin: auto;
}
legend {
  color: #000066;
  font-weight:bold;
  background-color: #f1f1f1;
  border:1px solid #999999;
  -moz-border-radius: 7px;
  -webkit-border-radius: 11px;
  padding: .5em 2em;
}
label {
  width: 10em;
  float: left;
  text-align: right;
  margin-right: 0,2em;
  display: block;
  padding-right: .4em;
}
.form_row {
  white-space: nowrap;
  padding-bottom: .6em;
}
.submit {
  margin-left: 12.5em;
}

/* Debug Style */
#debug {
  text-align: center;
  margin-top: 0;
  margin-left: auto;
}
#debug a, #debug a.visited {
  text-decoration: none;
  color: gray;
}
.debug_dump {
  text-align: left;
  margin: 0;
  padding: 0.5em;
}

/* Error Reporting Styles */
.fieldWithErrors {
  margin: 2px;
  padding: 2px;
  background-color: red;
  display: table;
}
#errorExplanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  font-size: 12pt;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}
#errorExplanation p {
  text-align: left;
  margin-bottom: 0;
  padding: 5px;
  color: white;
}
#errorExplanation ul li {
  font-size: 11pt;
  list-style: square;
  color: red;
}

/* Flash Notice Style */
#notice {
  -moz-border-radius: 9px;
  border: 1.5px solid yellow;
  /*-moz-border-radius-bottomright: 9px;
  border-bottom: 2px solid yellow;  
  border-left: 2px solid yellow;    
  border-right: 2px solid yellow;*/    
  padding: 1em;
  background-color: #121212;
  color: #0AA5C5;
  font: bold smaller sans-serif;
}

#flash {
  font-size: 12pt;
  text-align: center;  
}
