/* CSS Document */

#login_right {border:1px dotted #999999; background:#E7ECF5; padding:10px;}
.login_right {margin-top:0px;color:#ffffff; border:1px solid #999999; width:auto; background:#95ADD5; padding:5px; margin-bottom:0px; border-bottom:0px;}
#grey_box a {text-decoration:none;}
#grey_box h2 {padding:3px; background:#95ADD5; border:1px solid #324D7C; font-weight:normal ;margin:0px; margin-bottom:5px; color:#ffffff; text-decoration:none;}
#grey_box strong {font-size:16px; font-weight:bold; color:#FF6600; text-decoration:none;}
#grey_box b {color:#324D7C;}

h2.headline {text-align:right; font-weight:normal; color:#ffffff; margin:0px;font-size:32px; text-decoration:none; border-bottom:0px; background:#324D7C url(/img/index_headline.jpg); padding:10px;}
h2.headline:hover {color:#FFAA55;}
h2.headline strong {color:#FFFFFF;}

.button {
margin:auto;
width:176px;
height:30px;
padding:5px;
background:#746BC2;
color:#FFFFFF;
font-size:16px;
font-family:Verdana, Arial, Helvetica, sans-serif;
border:outset;
}

.button a, .button a:visited {
text-decoration:none;
color:#FFFFFF;
}

.button a:hover {
text-decoration:none;
color:#000066;
}

#results {
float:right;
width:190px;
}

.dropdown {
display:none;
padding:0px;
width:190px;
color:#333333;
float:left;
}
