@charset "utf-8";
/* CSS Document */

/* NAV BAR */

#menu_container {
position: relative;
height:23px;width:518px;
overflow:hidden;
}

#nav_pos {position:relative;}


/* END NAV BAR */

#button {background-color:#00CC00;color:#ffffff;border:0px solid #999999;margin:1px;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma, Verdana, Arial;	font-size:12px; font-weight:bold;
	width: 70px;
	height: 17px;
	padding:4px 10px 3px 10px;
	}
#button:hover {
	background-color:#A6FFA8;color:#FF6000;border:1px solid #FF6000; text-decoration:underline;margin:0px;
	cursor: pointer;
}

/* Gmenu */
	div.rootMenu1, div.rootMenu1Highlight {	background-color:#00CC00;color:#FFFFCC;border:0px solid #999999;margin:1px;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma, Verdana, Arial;	font-size:12px; font-weight:bold;
	width: 70px;
	height: 17px;
	padding-top:4px;
	}

	div.rootMenu1Highlight {
	background-color:#A6FFA8;color:#FF6000;border:1px solid #FF6000; text-decoration:underline;margin:0px;
	cursor: pointer;
	}
	
	div.rootMenu2, div.rootMenu2Highlight {background-color:#00CC00;color:#FFFFCC;border:0px solid #999999;margin:1px;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma, Verdana, Arial;	font-size:12px; font-weight:bold;
	width: 70px;
	height: 17px;
	padding-top:4px;
	}

	div.rootMenu2Highlight {
	background-color:#A6FFA8;color:#FF6000;border:1px solid #FF6000; text-decoration:underline;margin:0px;
	cursor: pointer;
	}
	
	div.rootMenu3, div.rootMenu3Highlight {background-color:#00CC00;color:#FFFFCC;border:0px solid #999999;margin:1px;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma, Verdana, Arial;	font-size:12px; font-weight:bold;
	width: 70px;
	height: 17px;
	padding-top:4px;
	}

	div.rootMenu3Highlight {
	background-color:#A6FFA8;color:#FF6000;border:1px solid #FF6000; text-decoration:underline;margin:0px;
	cursor: pointer;
	}
	
	div.rootMenu4, div.rootMenu4Highlight {background-color:#00CC00;color:#FFFFCC;border:0px solid #999999;margin:1px;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma, Verdana, Arial;	font-size:12px; font-weight:bold;
	width: 70px;
	height: 17px;
	padding-top:4px;
	}

	div.rootMenu4Highlight {
	background-color:#A6FFA8;color:#FF6000;border:1px solid #FF6000; text-decoration:underline;margin:0px;
	cursor: pointer;
	}
	
		div.rootMenu5, div.rootMenu5Highlight {background-color:#00CC00;color:#FFFFCC;border:0px solid #999999;margin:1px;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma, Verdana, Arial;	font-size:12px; font-weight:bold;
	width: 70px;
	height: 17px;
	padding-top:4px;
	}

	div.rootMenu5Highlight {
	background-color:#A6FFA8;color:#FF6000;border:1px solid #FF6000; text-decoration:underline;margin:0px;
	cursor: pointer;
	}
	
	div.rootMenu6, div.rootMenu6Highlight {background-color:#00CC00;color:#FFFFCC;border:0px solid #999999;margin:1px;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma, Verdana, Arial;	font-size:12px; font-weight:bold;
	width: 70px;
	height: 17px;
	padding-top:4px;
	}

	div.rootMenu6Highlight {
	background-color:#A6FFA8;color:#FF6000;border:1px solid #FF6000; text-decoration:underline;margin:0px;
	cursor: pointer;
	}
	
	div.rootMenu7, div.rootMenu7Highlight {background-color:#00CC00;color:#FFFFCC;border:0px solid #999999;margin:1px;
	text-align:center;
	vertical-align:middle;
	font-family:Tahoma, Verdana, Arial;	font-size:12px; font-weight:bold;
	width: 70px;
	height: 17px;
	padding-top:4px;
	}

	div.rootMenu7Highlight {
	background-color:#A6FFA8;color:#FF6000;border:1px solid #FF6000; text-decoration:underline;margin:0px;
	cursor: pointer;
	}
	
	/* end gmenu */