.navbartxt {
	background-color : #B5C6D9;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	text-transform : uppercase;
}
.A.navbartxt2link:LINK, A.navbartxt2link:VISITED {
	color : #FFFFFF;
	text-decoration : underline;
}

A.navbartxt2link:HOVER {
	color : #00387C;
	text-decoration : none;
}

A.navbartxt2link:ACTIVE {
	color : #000000;
	text-decoration : underline;
}

.navbartxt2 {
	background-color : #6688B0;
	color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	text-transform : uppercase;
}

a:link, a:visited {
	color : #00387C;
	text-decoration : underline;
}

a:hover {
	color : #00387C;
	text-decoration : none;
}

a:active {
	color : #000000;
	text-decoration : underline;
}

a.logdtableheaderlink:link, a.logdtableheaderlink:visited {
	color : #FFFFFF;
	text-decoration : underline;
}

a.logdtableheaderlink:hover {
	color : #FFFFFF;
	text-decoration : none;
}

a.tab2:link, a.tab2:visited {
	color : #FFFFFF;
}

body {
	scrollbar-3dlight-color : #6688B0;
	scrollbar-arrow-color : #00387C;
	scrollbar-base-color : #B5C6D9;
	scrollbar-darkshadow-color : #6688B0;
	scrollbar-face-color : #B5C6D9;
	scrollbar-highlight-color : #6688B0;
	scrollbar-shadow-color : #6688B0;
	scrollbar-track-color : #6688B0;
}

form {
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
}

input {
	border-bottom-color : #00387C;
	border-bottom-width : 1px;
	border-left-color : #00387C;
	border-left-width : 1px;
	border-right-color : #00387C;
	border-right-width : 1px;
	border-top-color : #00387C;
	border-top-width : 1px;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

td {
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.border {
	background-color : #00387C;
}

.datebar {
	background-color : #B5C6D9;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	height : 15px;
	text-align : right;
}

.datebar2 {
	background-color : #00387C;
	height : 1px;
}

.directions {
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-style : italic;
}

.footer {
	background-image : url(images/layout/footer_bk.gif);
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	height : 27px;
	text-align : center;
}

.formdirections {
	background-color : #FFFFFF;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
}

.fppic {
	background-image : url(images/layout/fp_bk.jpg);
	height : 164px;
}

.header {
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
}

.logddatebar {
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	height : 15px;
	text-align : right;
}

.logdnavbg {
	background-image : url(images/layout/logd_nav_bk.gif);
	height : 26px;
	text-align : right;
	vertical-align : top;
}

.logdrow1 {
	background-color : #B5C6D9;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	vertical-align : top;
}

.logdrow2 {
	background-color : #E2E2E2;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	vertical-align : top;
}

.logdtableheader {
	background-color : #00387C;
	color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	font-weight : bold;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	text-transform : uppercase;
	vertical-align : bottom;
}

.logdwelcomebar {
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	height : 15px;
}

.navbg {
	background-image : url(images/layout/main_nav_bk.gif);
	height : 26px;
	text-align : right;
	vertical-align : top;
}

.paging {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 9px;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
	text-align : right;
}

.select {
	border-bottom-color : #00387C;
	border-bottom-width : 1px;
	border-left-color : #00387C;
	border-left-width : 1px;
	border-right-color : #00387C;
	border-right-width : 1px;
	border-top-color : #00387C;
	border-top-width : 1px;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.seperator {
	background-image : url(images/layout/seperator.gif);
	background-repeat : repeat-y;
	width : 10px;
}

.stats {
	background-color : #DAE2EC;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	padding-bottom : 3px;
	padding-left : 3px;
	padding-right : 3px;
	padding-top : 3px;
	vertical-align : top;
}

.tabbk1 {
	background-color : #B5C6D9;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	width : 90px;
}

.tabbk2 {
	background-color : #00387C;
	color : #FFFFFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	width : 90px;
}

.tableheader {
	background-color : #DAE2EC;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	height : 12px;
	text-indent : 2px;
	text-transform : uppercase;
}

.tableheadertxt {
	background-color : #FFFFFF;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	height : 12px;
	text-indent : 2px;
	text-transform : uppercase;
}

.txtbox {
	background-image : url(images/layout/txt_bx.gif);
	height : 157px;
	vertical-align : middle;
	width : 266px;
}

.txtboxlong {
	background-image : url(images/layout/txt_bx_long.gif);
	height : 157px;
	vertical-align : middle;
	width : 541px;
}

.txtboxtxt {
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
}

.welcomebar {
	background-color : #B5C6D9;
	color : #00387C;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	height : 15px;
}

.clsCMOn, .clsCMOver {  
text-align: center; 
}
.dropdown{
font-size:10px;
}
