<h1>Book live music. Get gigs for your band.</h1>
<div id="page_width" style="min-height:10em;">
<center>
<table width="800" cellspacing="10" id="begin"><tr><td>
<h2>Book some LIVE MUSIC.</h2>
<div class="begin">
<ul>
<li>Venue: <select>
<option>- house party</option>
<option>- other / custom</option>
<option>Live Culture</option>
<option>Soho</option>
<option>Woodstocks</option>
</select></li>
<li>Specific Genre? <select><option>Yes</option><option>No</option></select></li>
<li>Date: calendar <input value="Next" type="button"></li>
</ul>
</div>
</td><td>
<h2>Find some GIGS.</h2>
<div class="begin">
<ul>
<li>Time frame: <select><option>View all</option><option>1 week</option><option>2 weeks</option><option>1 month</option><option>6 months</option></select></li>
<li>Within: <select><option>10</option></select>  miles of 93106 (<a href="">change</a>)</li>
<li><input value="Search open gigs" type="button"></li>
</ul>
</div>
</td></tr>
<tr>
 <td>
 <div class="begin">
 <ul>
<table><tr><td><strong>Venues / Promoters</strong></td><td><img src="/images/index-venues-promoters.jpg" alt="Venues and Promoters"></td></tr></table>
 <a href="/venues/new">Register your venue</a><br>
 <a href="/venues/1">Manage your venue</a><br>
 <a href="">Promote</a></ul>
 </div>
 </td>   
 <td>
 <div class="begin">
 <ul>
 <table><tr><td><strong>Artists / Bands</strong></td><td><img src="/images/index-artists-bands.jpg" alt="Artists and Bands"></td></tr></table>
 <a href="/bands/new">Register your band</a><br>
<a href="/user">Edit your profile</a><br>
<a href="/gig-search.html">Manage gigs</a></ul>
</div>
    </td></tr></table>
    </center>
</div>
<h3 class="byline">Register your band or venue for more great features.</h3>
<center>
    <div id="features">
      <table align="center">
        <tbody>

          <tr>
            <td><h2>Booking made easy</h2>
                <p>Enjoy the convenience of having your venue's entertainment
                  booked automatically.</p></td>
            <td><h2>Automated tour planning</h2>
                <p>As a member, you can specify key places and a time frame, and have MusiGigs automatically book your whole tour.</p></td>
            <td><h2>Embeddable calendar</h2>

                <p>Post your upcoming shows on your website with a customizeable, embeddable calendar!</p></td>
            <td style="border-right: 0px none;"><h2>Get venue + music right</h2>
                <p>Ensure that the music fits the venue with advanced filters. No more awkward shows!</p></td>
          </tr>
        </tbody>
      </table>
    </div>
    
 <div id="features">
<table><tr><td>
 <strong>Want live music at your party or event?</strong>
    <p>We exist to help people like you easily find live entertainment and music for your event. If you are an individual throwing a party, or a full fledge venue looking for an easier way to manage booking, you can use the Musi Gigs online application to help you easily book bands with simple tools to help you decide which music is right. There are even options to automatically book bands based on a minimum rating!</p>
    </td><td style="border-right:0px;">
    <strong>For the gigging musician</strong>
    <p>Booking gigs for your band has never been easier with the Musi Gigs booking application. Simply search for specific dates in specific regions, and see all dates open for application to play. Apply to play at the venue on the date, and get live gigs for your band.</p>
    </td></tr></table>
</div>
</center>
