<h1>Account#login</h1>
  <% form_tag do %>
    <fieldset>
      <legend>Please Log In</legend>
    <div>
      <label for="name">Username:</label>
      <%= text_field_tag :user_name, params[:user_name] %>
    </div>
    <div>
      <label for="password">Password:</label>
      <%= password_field_tag :password, params[:password] %>
    </div>
    <div>
      <%= submit_tag "Login" %>
    </div>
    <div>
    </div>
  </fieldset>
  <%= link_to 'Create Account', :controller => "users", :action => "new" %>
<% end %>

