<h1><%= @title %></h1>

<div id="page_width">
  <div id="left_column">
    <div class="sidebar_box">
      <h2>
        <span class="header">Venue:</span>
        <br clear="all" />
      </h2>
      <div class="sidebar_box_contents">
        Members add|remove
        <br />
        <br />
        John Wayne
        <br />
        Phill Smith
      </div>
    </div>
    <div class="sidebar_box">
      <h2>
        <span class="header">Band:</span>
        <br clear="all" />
      </h2>
      <div class="sidebar_box_contents">
        Members add|remove
        <br />
        <br />
        John Wayne
        <br />
        Phill Smith
      </div>
    </div>
  </div>
  <div id="main_content">
    <br />
    some gig info... STUB
    <br />
    <br />
    <span class="edit_link">
      <%= link_to 'Edit', edit_gig_path(@gig) %> |
      <%= link_to 'Destroy', @gig, :confirm => 'Are you sure?', :method => :delete %>
    </span>
  </div>
</div>
